* {
    margin: 0;
}

#t{
    display: table;
}

#c{
    display: table-cell;
    vertical-align: middle;
}

#cc{
    margin: auto;
    outline: 1px solid white;
}

body, html, #t, canvas{
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    background: #000;
    margin: 0;

    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;

    font-family: Helvetica;
}

canvas{
    display: block;
}

#m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid white;
    background: black;
    color: #fff;
    padding: 20px;
}

h1, label {
    display: block;
    text-align: center;
}

label, input, button {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    appearance: none;
    background: none;
}

input::-moz-range-track {
  background-color: white;
}

button {
    padding: 10px;
    font-family: 50px;
}
